body{
    margin: 0;
    padding: 0;   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

header{
    background: #3c6b9e!important;
    color: #dcdfe3;
    font-size: large;
    margin: 0px;
    padding: 20px;
}

.slider {
    -webkit-appearance: none;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    float: left;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  

#sorting-space{    
    margin: 2% 15%;    
    height: 450px;
}

nav{
    display: flex;
    width: 50%;
}

.sort-button{
    padding: 10px;
    border-radius: 5px;
    background: #dcdfe3;
    border: none;
    font-size: 15px;
}

.algorithm{
  position: absolute;
  right: 50px;
}

.center {
  text-align: center;
  /* border: 3px solid green; */
  padding: 0 50px;
}